@model Trekstore.Models.CategoriaProveedor

@{
    ViewData["Title"] = "Create";
}

<h1>Tipo de Proveedor</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoriaProveedorNombre" class="control-label">Nombre de categoria</label>
                <input asp-for="CategoriaProveedorNombre" class="form-control" />
                <span asp-validation-for="CategoriaProveedorNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaProveedorDescripcion" class="control-label"> Descripcion de categoria</label>
                <input asp-for="CategoriaProveedorDescripcion" class="form-control" />
                <span asp-validation-for="CategoriaProveedorDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
